/* ---------- footer page------------*/
/* ----------------Footer 3 sections Started------------------- */
#readmorelinkfotter { color: #FF0000; }
* {
box-sizing: border-box;
  }

/* Create three equal columns that floats next to each other */
.column {
float: left;
width: 33.33%;
padding: 10px;
height: 300px; /* Should be removed. Only for demonstration */
color: white;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}
/* ----------------Footer 3 sections Ended------------------- */
/* Main Fotter */
.all-browsers {
margin: 0;
padding: 5px;
background-color: lightgray;
}

.all-browsers > h1, .browser {
margin: 10px;
padding: 5px;
}

.browser {
background: white;
}

.browser > h2, p {
margin: 4px;
font-size: 90%;
}

footer {
text-align: center;
padding: 3px;
background-color: rgb(24, 24, 24);
color: white;
}
/* Main Fotter end */

/*Footer 2/3 Code */
/* unvisited link */
#footerhelplink a:link {
color: gray;
}

/* visited link */
#footerhelplink a:visited {
color: green;
}

/* mouse over link */
#footerhelplink a:hover {
color: #fb4400;
}

/* selected link */
#footerhelplink a:active {
color: yellow;
}
/* Footer 2/3 Code */